* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
}

div.row, span.bar, img.note {
    /* cancel selection by mouse */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.row {
    text-align: center;
    height: 50%;
    border-bottom: 1px solid #000;
}

span.bar {
    display: inline-block;
    border-right: 1px solid #000;
    height: 100%;
    text-align: center;
}

span.bar:last-child {
    border-right: none;
}

img.note {
    display: inline-block;
}

div#help-message {
    text-align: center;
    line-height: 60px;
    height: 60px;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -30px;
    color: gray;
}
